.s-box {
	background-color: #fff;
	box-shadow: 1px 1px 5px #ddd;
	margin: 10px 10px 0px 10px;
	border-radius: 10px;
}

.s-header {
	display: flex;
	border-bottom: 1rpx rgb(241, 237, 237) solid;
	padding: 10px 5px;
	justify-content: space-between;
	align-items: center;
}


.s-header-right:before {
	width: 40px;
	height: 3px;
	position: absolute;
	content: '';
	top: auto;
	left: 5px;
	bottom: 3px;
	border-radius: 5px;
	transition: 4s;
	background-image: linear-gradient(to right, #2979ff, #002c77);
	box-shadow: 1px 1px 3px -1px #2979ff;
}

.s-header-right {
	padding: 2px 5px;
	font-weight: 600;
	position: relative;
	padding-bottom: 8px;
}

/* .s-header-right{
	font-weight: 300;
} */

.card-area {
	overflow: hidden;
	border-radius: 5px;
	background: #FFF;
	position: relative;
}

.top-description {
	display: flex;
	padding: .16rem .17rem;
	font-family: PingFangSC-Medium;
	justify-content: space-between;
}

.scroll-view {
	white-space: nowrap;
	padding: 5px 0px 5px 0px;
}

.fugai{
	background: #fff;
	position: absolute;
	right: -1px;
	top: 0;
	height: 100%;
	width: 6px;
	border-radius: 0px 0px 10px 0px;
}
.s-item {
	display: inline-block !important;
	width: 47%;
	margin: 3px 10px;
	border-radius: 5px;
	font-size: 14px;
	background: #fff;
	box-shadow: 0px 0px 5px #eee;
}

.s-header-left {
	margin-right: 5px;
}

.s-title-header {
	background: #333;
	border-radius: 5px 5px 0px 0px;
	color: #fff;
	padding: 10px;
	font-weight: 600;
}

.s-Ftitle {
	font-size: 12px;
}

.s-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.s-content-item {
	display: flex;
	padding: 10px;
}

.ding {
	color: white;
	margin-left: -14px;
	z-index: 1;
}

.s-text {
	margin-left: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.s-content-item image {
	width: 20px;
	height: 20px;
	flex-grow: 0;
	flex-shrink: 0;
}

.s-content {
	border-radius: 0px 0px 5px 5px;
}


.active {
	width: 24rpx;
	background: #38F;
}

.ad {
	width: 94%;
	margin: 3%;
}

.sl-title {
	font-size: 13px;
	font-weight: 200;
}

.sl-icon {
	background-color: #feb9bc;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
}

.sl-icon-sg {
	background-color: #BBE4FF;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
}

.many {
	display: flex;
	justify-content: space-between;
}

.dots {
	position: absolute;
	right: 35rpx;
	bottom: 20rpx;
	display: flex;
	justify-content: center;
}

.dot {
	margin: 0 8rpx;
	width: 14rpx;
	height: 14rpx;
	background: #fff;
	border-radius: 8rpx;
	transition: all .6s;
}

.active {
	width: 24rpx;
	background: #38F;
}

.swiper-wrap {
	position: relative;
	height: 150px;
	margin-top: 70px;
}

.swiper-img {
	width: 99%;
	border-radius: 10px;
}
