/* home */
.banner-box {
	width: 100%;
	height: 150px;
	background-image: url("http://cdn.hkiii.cn//img/_2022/06/30/12/54/49/747/6483441/7812966043841394587");
	background-size: 100%;
}

.banner {
	width: 100%;
	height: 100%;
}

.tm {
	height: 1px;
}

.box-img {
	width: 60px;
	margin: auto;
}

.me-img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin: 10px auto;
}

.me {
	text-align: center;
	font-weight: 800;
	color: #fff;
}

.homelist-img {
	width: 40px;
	height: 40px;
	margin: auto;
}

.bannertm {
	height: 35px;
	width: 100%;
	margin-top: -35px;
	z-index: 1;
}

.content {
	position: relative;
}



.list-flex {
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
}

.homelist-item {
	width: 20%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 2;
}
.baidu-box {
		display: flex;
		justify-content: space-between;
		margin: auto;
		margin: 10px;
	}

	.baidu-item {
		width: 43%;
		border-radius: 10px;
		box-shadow: #eeeeee 1px 1px 30px;
		display: flex;
		justify-content: space-between;
		padding: 10px;
		align-items: center;
	}

	.shoulu {
		display: flex;
		flex-direction: column;
		line-height: normal;
	}


	.sl-title {
		font-weight: 200;
		opacity: 0.8;
	}

	.sl-content {
		font-weight: 800;
	}